/* body {
    background-image: url(animation.gif);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;

    

/* } */
/* body {
    background: powderblue url(animation.gif) no-repeat right top;
} */


p {
    color: rgb(86, 71, 255);
}


/* p {
    border: 2px dotted;
    background-color: rgb(249, 249, 156);

} */

p.dotted {
    border-style: dotted;
    border-width: 5px;
}

p.dashed {

    border-style: dashed;
    border-width: 5px;
}

p.solid {
    border-width: 5px;
    border-style: solid;
    border-color: chartreuse red orange black;
}


p.double {
    /* border-width: 5px 20px; */
    border-style: double;

}

p.groove {
    border-width: 5px;
    border-style: groove;
}

p.ridge {
    border-width: 5px;
    border-style: ridge;
}

p.inset {
    border-width: 5px;
    border-style: inset;

}

p.outset {

    border-width: 5px;
    border-style: outset;
    border-color: blueviolet;
}

p.none {

    border-style: none;
}

p.hidden {

    border-style: hidden;
}

.hybrid {

    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;

}

p.threevalue {
    border-style: dashed dotted solid;
    /* middle value prints right and left */
    border-width: 5px;
}

p.borderleft {
    border-left: 6px solid red;
    background-color: lightgray;

}

p.borderbottom {
    border-bottom: 5px solid red;
    background-color: lightgreen;

}

.round1 {
    border: 2px solid red;
    border-radius: 5px;

}

.round2 {
    border: 2px solid red;
    border-radius: 8px;
    padding: 5px;
}

.round3 {

    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}

.margin {
    border: 1px solid rgb(47, 238, 255);
    margin: 70px;
    text-align: center;
}

.margin2 {
    border: 1px solid lightsalmon;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}

.multimargin {
    border: 2px solid red;
    margin: 70px 60px 70px 80px;
}

div {
    border: 1px solid red;
    margin: 100px;
padding: 8px;
}

.ex1 {
    margin-left: inherit;
}

.padding {
    border: 1px solid rgb(2, 255, 204);
    padding: 30px 60px 90px 130px;
}

.padding3 {
    border: 1px solid saddlebrown;
    padding: 30px 60px 90px;

}

.w1 {
    border: none;
    width: 300px;
    background-color: yellow;
    margin: 0;
}

.w2 {
    width: 50%;
    height: 100px;
    padding: 25px;
    background-color: lightblue;
    border: none;
    margin: 0;
}

.ol1 {
    border: 2px solid red;
    outline: thin solid black;

}

.ol2 {
    border: 2px solid red;
    outline: thick solid black;

}

.ol3 {
    border: 2px solid red;
    outline: solid black;
    outline-width: 4px;
}

.ol4 {
    border: 2px solid red;
    outline: thin dotted black;

}

.ol5 {
    margin: 30px;
    border: 1px solid black;
    outline: thin solid red;
    outline-offset: 10px;
    background-color: yellow;
}
h1{ 
    text-align: center;
    text-transform: uppercase;
    color: green;
}
.text1{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}
a{
    text-decoration: none;
    color:#00ba28 ;
}
h2{
    text-align: left;

}
h3{
    text-align: right;
}
h4{
    text-align: left;
}
.text2{
    text-align-last: justify;
}
.bdi{
    direction: rtl;
    unicode-bidi: bidi-override;
  }