/* body {
    background-color: powderblue;
} */

h3 {
    color: rgb(255, 68, 0);
}

p {
    border: px solid rgb(0, 19, 227);
    padding: 10px;
}

/* h1 {
    color: blueviolet;
} */

h3 {
    border: 1px solid rgb(230, 176, 176);

}
blockquote{
    border: 2px solid rgb(186, 64, 64)
}