/* div {
  border: 3px solid #4CAF50;
  padding: 5px;
} */

.img1 {
  float: right;
}

.img2 {
  float: right;
}

.clearfix {
  overflow: auto;
}

.div1 {
  float: left;
  padding: 10px;
  border: 3px solid green;
}
.div2{
  padding: 10px;
  border: 3px solid red;


}
.div3{
  float: left;
  border: 3px solid green;
  padding: 10px;
}
.div4{
  padding: 10px;
  border: solid red;
  clear: left;
}
*{
  box-sizing: border-box;
}
.box{
  float: left;
  width: 33.33%;
  padding: 50px;

}
.boxmain{
  content: "";
  clear: both;
  display: table;
}
