/* ul {
    background-color: black;
    color: aquamarine;
    width: 200px;
}

.main {
    color: red;
}

.bgimg {
    width: 200px;
    height: 100px;
    background-image: url('aaa.jpg');
    background-size: 250px 100px;
    background-color: aqua;
    background-repeat: no-repeat;
   
}
body{
    text-transform: capitalize;
    
    font-style: oblique ;
} */
* {
    padding: 0;
    margin: 0;
}

.nav {
    height: 70px;
    background-color: rgb(114, 129, 15);
    color: white;
}

.left {
    background-color: red;
    display: inline-block;
    width: 50%;
    
    height: 90vh;

}

.right {

    background-color: green;
    display: inline-block;
    width: 50%;
    height: 90vh;
}
footer{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 20px;
    background-color: black;
    color: rgb(217, 255, 0);
    padding: 35px;
    text-align: center;
    text-transform: capitalize;
}
.nav ul li a {
    color: white;
    text-decoration: none;
    display: inline;
}
.nav ul li  {
    color: white;
    text-decoration: none;
    margin: 25px 10px;
    font-size: 18px;
    display: inline-block;
}