* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: orange;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

label {
    margin: 10px;
    text-align: center;
    width: 75px;
    font-size: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}

label:hover {
    background: rgb(49, 47, 47);
    cursor: pointer;
}

.cont2 input:checked {
    color: red;
    border: 1px solid black;
    border-radius: 50%;
}



.game-container {
    width: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.player-container,
.computer-container {
    width: 45%;
    text-align: center;
}

.player-choice,
.computer-choice {
    width: 75px;
    height: 75px;
    margin: 10px auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.vs {
    font-size: 40px;
    font-weight: bold;
    align-self: center;
}

input[type='radio'] {
    display: none;
}

/* @keyframes changeOrder {
    from { z-index: 6; } 
    to { z-index: 1; } 
  }  */


@keyframes changeOrder {
    from {
        z-index: 9;
    }

    to {
        z-index: 1;
    }
}



.player-side {
    font-size: 56px;
}

.computer-side {
    font-size: 56px;
}


/* .player-side {
    animation: changeOrder 3s infinite linear;
    background: #ddd;
    cursor: pointer;
    display: block;
    left: 1rem;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    user-select: none;
}
 */

.win {
    width: 15%;
    margin: auto;
    border: transparent;
    text-align: center;
    background: #ea3f3f;
    font-weight: 600;
}

.lose {
    visibility: hidden;
    text-align: center;
    width: 15%;
    margin: auto;
    border: transparent;
    text-align: center;
    background: rgb(68, 159, 68);
    font-weight: 600;
    margin-top: 10px;
}

.play {
    width: 20%;
    margin: auto;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background: pink;
}


label {
    animation: changeOrder 3s infinite linear;
    background: #f5f5f5;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}



label:nth-of-type(1) {
    animation-delay: 0s;
}

label:nth-of-type(2) {
    animation-delay: -1s;
}

label:nth-of-type(3) {
    animation-delay: -2s;
}